@import url('https://fonts.googleapis.com/css2?family=outfit:wght@100;200;00;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2,
h4,
a,
ul {
    color: white;
    list-style-type: none;
}

a {
    list-style-type: none;
    text-decoration: none;
}

.buton {
    padding: 13px 33px;
    color: white;
    background-color: blue;
    border: 1px solid #ffff;
    font-weight: 600px;
    cursor: pointer;
    text-transform: uppercase;
    ;
}

.button-tra {
    border: 1px solid #ffff;
    background-color: transparent;
    color: black;
}

.buton:hover {
    background-color: rgb(68, 67, 66);
    color: aquamarine;
    transition: 0.3s;
}

p {
    color: #ffff;
}

h3 {
    font-size: larger;
}